In [ ]:
def fibonacci_sequence(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        list_fib = [0, 1]
        while len(list_fib) < n:
            next_fib = list_fib[-1] + list_fib[-2]
            list_fib.append(next_fib)
        return list_fib

fib_series = fibonacci_sequence(10)
print(f"Fibonacci Dizisi (en fazla 10 terim):\n{fib_series}")

Fibonacci Dizisi (en fazla 20 terim):
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [ ]:
mystring="lovepython"
myfloat=6.0
myint=4

In [ ]:
my_name="eray"
print("lets talk about %s." %my_name)

my_height= 1.74
print("he's",my_height,"meters all")

my_weight=62
print("he's %i kg heavy.",my_weight)

lets talk about eray.
he's 1.74 meters all
he's %i kg heavy. 62

In [ ]:
print(f"{my_name}'s {my_height} kg heavy.")

eray's 1.74 kg heavy.

In [ ]:
def greeting(name):
  output= "hello " + name
  return output

In [ ]:
print(greeting("eray"))

hello eray

In [ ]:
def greeting(name):
  message = "hello lovely " + name + ".\n"
  message = message + "you are the best"

  return message
print(greeting("eray"))

hello lovely eray.
you are the best

In [1]:
fibonacci = [0,1]
for i in range(10):
  fibonacci.append(fibonacci[-1] + fibonacci[-2])
  print(fibonacci)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [2]:
fib = [0,1]
for i in range(48):
  new_element = fib[-1] + fib[-2]
  fib.append(new_element)

In [3]:
len(fib)

50

In [4]:
fib = [0,1]
for i in range(100000000):
  new_element = fib[-1] + fib[-2]
  if new_element > 50:
    break
  fib.append(new_element)

In [5]:
fib

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [8]:
x = [1,5,7,14,16]
toplam = 0
for i in x:
  toplam = toplam + i
  print(toplam)

1
6
13
27
43

In [10]:
x = [1,5,7,14,16]
toplam = 0
for i in x:
  toplam = toplam + i
print(toplam)

43

In [12]:
minimum = x[0]
for i in x:
  if i < minimum:
    minumum = 1
print(minimum)

1

In [13]:
my_list = []
for i in range(10):
  my_list.append(i)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
i = 0
while i < 5:
  i=i+1
print(10*i)

50

In [16]:
i = 0
while i < 5:
  i=i+1
  print(10*i)

10
20
30
40
50

In [18]:
my_input = input()
type(my_input)

eray

str

In [20]:
print("how old are u?")
age = float(input())
print("how tall are u?")
height=float(input())
print("how much do u weight?")
weight=float(input())

print("so you're %f old,%f tall and %heavy." %(age,height,weight))

how old are u?
22
how tall are u?
174
how much do u weight?
62
so you're 22.000000 old,174.000000 tall and 6.200000e+01avy.